Returning profile list in HTTP response message body

In https://w3c.github.io/dxwg/conneg-by-ap/#listprofiles-content, a server can return a list of profiles in the message body of an HTTP response. It is unclear to me how this is possible if a client sent a `GET` or a `HEAD` request.

According to RFC2616, server must not return a message body in a `HEAD` response.

For a `GET` request, a client would have nominated a media-type like `Accept: text/turtle` in which case a server cannot return a message body conforming to one of the three supported media types for profiles but instead `Content-Type: text/turtle`:

- text/uri-list
- application/ld+json or RDF data serialized in any format
- text/html

Would you please elaborate how it can be done in the specification?

Thanks for your feedback, @kamhayfung. We'll discuss this in our next telecon.

(Minor nitpick: RFC 2616 is obsoleted by RFC 7230-7234, in this case [RFC 7231 §4.3.2](https://tools.ietf.org/html/rfc7231#section-4.3.2) where HEAD is specified)

Agree that it's not possible for a HEAD request to return content.

Agree that if a GET request is used, the content of the resource, conforming to the specified profile, or the default, will be returned and thus there is no possibility of including profile listings in a GET body response.

In the previous work using Alternate Views, a specialized profile - Alternates - is available for all resources to list profile (and formats) in a response body but we haven't yet emulated this functionality in the HTTP realization of this spec.

Section listprofiles-content, now removed in PR https://github.com/w3c/dxwg/pull/879