List profiles for dynamic resources

In 7.1 (https://www.w3.org/TR/dx-prof-conneg/#listprofilehttplink), an assumption is made that the resource URIs will bear static media and profile type information in a Link header, such as the "prof1" and "ttl" parts in http://example.org/a/resource.prof1.ttl

What if a server supplies content dynamically and does not wish to hard-code media type information in the URIs? In other words, would the following header also be a valid link to list the profiles for a resource?

```
Link: <http://example.org/a/resource>; rel="self"; type="text/turtle"; profile="urn:example:profile:1",
  <http://example.org/a/resource>; rel="alternate"; type="text/turtle"; profile="urn:example:profile:2",
  <http://example.org/a/resource>; rel="alternate"; type="application/xml"; profile="urn:example:profile:1",
  <http://example.org/a/resource>; rel="alternate"; type="application/xml"; profile="urn:example:profile:2",
  <http://example.org/a/resource>; rel="alternate"; type="text/html"
```

For comparison, this is the example Link in the draft specification:
```
Link: <http://example.org/a/resource.prof1.ttl>; rel="self"; type="text/turtle"; profile="urn:example:profile:1",
  <http://example.org/a/resource.prof2.ttl>; rel="alternate"; type="text/turtle"; profile="urn:example:profile:2",
  <http://example.org/a/resource.prof1.xml>; rel="alternate"; type="application/xml"; profile="urn:example:profile:1",
  <http://example.org/a/resource.prof2.xml>; rel="alternate"; type="application/xml"; profile="urn:example:profile:2",
  <http://example.org/a/resource.html>; rel="alternate"; type="text/html"
```


@kamhayfung scripsit:
> What if a server supplies content dynamically and does not wish to hard-code media type information in the URIs? In other words, would the following header also be a valid link to list the profiles for a resource?
...

I don't think that's how it's supposed to work. [RFC 8288 §4.2](https://tools.ietf.org/html/rfc8288#section-4.2) says that the definitions of the link relation types are in the [IANA link relation type registry](https://www.iana.org/assignments/link-relations/link-relations.xhtml). In this registry the definition of "alternate" is taken from the [HTML 5 spec §4.8.6.1](https://www.w3.org/TR/html5/links.html#link-type-alternate) that says "The keyword \[alternate] creates a hyperlink referencing an alternate representation of the current document." I think it's a long stretch to say that we can use the same URI for the "self" relation and the "alternate" relation since that would imply that a resource is an alternate representation of itself.
Maybe @mnot as author of RFC 8288 can give some perspective on this.

@larsgsvensson , I asked [@mnot](https://github.com/mnot) if the following Link header is valid and he replied yes:

```
Link:  <http://example.org/a/resource>; rel="self"; type="text/html", 
  <http://example.org/a/resource>; rel="alternate"; type="application/xml"
```

This clarifies how I would use the HTTP `Link ` header.

Only this, to indicate the different profiles that a resource - and it's always the same resource here (the one we are interested in) - that representation can be delivered according to:
```
Link: <http://example.org/a/resource>; rel="self"; profile="urn:example:profile:1",
  <http://example.org/a/resource>; rel="alternate"; profile="urn:example:profile:2",
  <http://example.org/a/resource>; rel="alternate"; profile="http://eg.com/other/profile",
  <http://example.org/a/resource>; rel="alternate"; 
```
It's about profiles, nothing said about Media Types.

Mulling this over - my concern is about the cartesian product of all possible negotiation dimensions (including language, version, spatial resolution, etc. )  I dont know enough about link headers and support in client libraries - but it strikes me this would be informationally complete:

```
Link: <http://example.org/a/resource>; rel="self"; profile="urn:example:profile:1", 
<http://example.org/a/resource>; rel="alternate"; profile="urn:example:profile:2 
<http://example.org/a/resource>; rel="self"; type="text/html",
<http://example.org/a/resource>; rel="self"; type="application/xml"
```

this is order D x N where D is number of dimensions and N is number of options for a given dimension
(the cartesian product is N exp(D) 

this puts the responsibility on the client to match the resource URI and calculate the intersection - buts thats pretty trivial and can be implemented in reusable libraries.


If we are to do this, we will need to indicate in the HTTP Realization that, in addition to listing the profiles conformant representations of a resource are available for, we will also be providing Media Type information (the hints via `type="application/xml"`.

Also, in the example above, type hints are only given for the `self` resource, not all the other `alternate`s, so no hints are given to the client about Media Types for representations according to other profiles, say `urn:example:profile:2`. I assume you intend this?

the media type hints are orthogonal - its the conjunction of them we need to say something about. 

the example is incomplete - or maybe we should drop the rel="" dimension for the media type if all media types are supported.

the "some resources are only available in some media types" case would require explicit combinations - so you could say

```
Link: <http://example.org/a/resource>; rel="self"; profile="urn:example:profile:1", 
<http://example.org/a/resource>; rel="alternate"; profile="urn:example:profile:2" ,
<http://example.org/a/resource>; type="text/html",
<http://example.org/a/resource>; type="application/xml"
<http://example.org/a/resource>; rel="alternate";  type="text/turtle";  profile="urn:example:profile:2" 
```

if profile2 was available in all three media types, but it was the only profile available in turtle..

 

I personally prefer to see a complete list if possible in case some permutations of media types and profiles are invalid.

@kamhayfung scripsit:
> I personally prefer to see a complete list if possible in case some permutations of media types and profiles are invalid.

In that case it seems that we cannot avoid combinatorial explosion of media types and profiles... And yes, there will definitely be cases where some media types are available in some profiles and other media types in other profiles. The case we have in the DNB is that data published in traditional library formats (MARC 21 and MARC-XML) will be available in one profile and data published in some serialisations of RDF will be available in two other profiles leading to the following combinations:

Media Type | MARC-PROF-1 | RDF-PROF-1 | RDF-PROF-2
-|----------------|--------------|-------------- 
text/turtle | :x: |   :heavy_check_mark: |  :heavy_check_mark:
application/ld+json | :x: |  :heavy_check_mark: |  :heavy_check_mark:
application/marcxml+xml |  :heavy_check_mark: | :x: | :x:
application/marc |  :heavy_check_mark: | :x: | :x:

If we only give information about profiles in the link header, we effectively force the client to make another request to see which media types are available for that profile (or if the client is lucky, one of its preferred media types are available for the chosen profile).

Thinking about this again, I really think we need to publish the cartesian product of media type and profile URI. If we decide to make it a two-step process it would (in my understanding) look like this:

1. Client asks for a resource expressing interest in one or more profiles and one or more media types
2. Server answers with some content (according to its content negotiation algorithm) and also adds a link header that says in which profiles the content is available (but not which combinations of media type and profile)
3. Client wants to figure out if there is another combination of profile and media type that could work as well and sends a new request using one of the profiles listed in the link header and one or more media types it could consider.
4. Server answers `406 Not acceptable` and says "No representation available for this combination of profile and media type"
5. Client tries again with other combination (but sort of stabs in the dark since it has no clue which combinations are valid)
6. Server answers `406`
7. Etc...

An alternative could be that if a client _only_ sends an `Accept-Profile`-Header with only one value (and no `Accept`-Header) the server would include the all possible combinations of profile and media type _for that profile_ but that would make client and server implementation much more complex.

This is only an issue if the profile does not specify the valid media types for representations following that profile.  If media types are part of the profile, a client looking for that profile can reasonably be expected to also know what media types are available, and the 'type' parameter is unnecessary in the link.

Isn't it valid to include a comma-delimited list as a header parameter value, e.g.
```
 type="text/html, application/xml"
```

@smrgeoinfo scripsit:
> This is only an issue if the profile does not specify the valid media types for representations following that profile. If media types are part of the profile, a client looking for that profile can reasonably be expected to also know what media types are available, and the 'type' parameter is unnecessary in the link.

Profiles are orthogonal to media types so a media type can never be "part of a profile".

@smrgeoinfo scripsit:

> Isn't it valid to include a comma-delimited list as a header parameter value, e.g.
`type="text/html, application/xml"`

I don't think so. [RFC 8288 §3.4.1](https://tools.ietf.org/html/rfc8288#section-3.4.1) says
> The "type" attribute, when present, is a hint indicating what the media type of the result of dereferencing the link should be.  Note that this is only a hint; for example, it does not override the Content-Type header field of a HTTP response obtained by actually following the link.  The type attribute MUST NOT appear more than once in a given link-value; occurrences after the first MUST be ignored by parsers.
The ABNF for the type parameter's value is:
     type-name "/" subtype-name ; see Section 4.2 of [RFC6838]

So it does not seem that `type="text/html, application/xml"` is valid.

We;ve updated the example at the top of this Issue in the soon-to-be-released 3PWD (already in the ED, see https://w3c.github.io/dxwg/conneg-by-ap/#eg-link-headers) to show a single, unchanging, resource URI with different `rel=`, `type=` & `profile=` keys in the `Link` header which demonstrate the 'dynamic' nature of conneg. So this answers the original Issue.

Further, we are working on a formal data model (see Issue https://github.com/w3c/dxwg/issues/1031) to which we will ensure the abstract specification & all realisations conform. 

There is no proposed change, even with the formal model, to do anything other than deliver the  Cartesian product of profiles & Media Types in Link headers, backed by the formal model as hoped for by @kamhayfung.

So, I think this issue's address and I'm marking it due for closing now and will close in a week. If there is more to be said here, a new issue can be raised.